---
import { links } from "@/data";
import Icon from "astro-iconify";

import logoFull from "@/assets/logoFull.webp";
---

<footer class="bg-slate-800 md:h-fit md:py-10 w-full h-screen py-12 text-white">
  <section
    class="container flex flex-col items-center justify-center w-full h-full"
  >
    <div
      class="gap-x-5 container flex flex-wrap items-start justify-center w-full"
    >
      <div class="flex items-center justify-center">
        <img
          src={logoFull.src}
          alt="Logo"
          class="w-[250px] h-[200px] object-fill"
        />
      </div>
      <!-- Menu -->
      <div>
        <h3 class="h3 pl-3">Menu</h3>
        <ul class="flex flex-col items-start justify-start">
          {
            links.map((link) => (
              <li class="">
                <a
                  href={link.path}
                  class="inline-block min-w-[80px] px-3 py-2 font-medium hover:text-yellow-500 transition-all duration-300 ease-in-out"
                >
                  {link.text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <!-- SERVICIOS -->
      <div class="">
        <h3 class="h3 pl-3">Servicios</h3>
        <ul class="flex flex-col items-start justify-start">
          <li
            class="inline-block min-w-[80px] px-3 py-2 font-medium hover:text-yellow-500 transition-all duration-300 ease-in-out"
          >
            <a href="https://wa.me/18293053240"> Reparaciones </a>
          </li>
          <li
            class="inline-block min-w-[80px] px-3 py-2 font-medium hover:text-yellow-500 transition-all duration-300 ease-in-out"
          >
            <a href="https://wa.me/18293053240"> Cambio de Pantalla </a>
          </li>
          <li
            class="inline-block min-w-[80px] px-3 py-2 font-medium hover:text-yellow-500 transition-all duration-300 ease-in-out"
          >
            <a href="https://wa.me/18293053240"> Telefonos a Credito </a>
          </li>
          <!-- <li class="inline-block min-w-[80px] px-3 py-2 font-medium">
            Computadores
          </li> -->
        </ul>
      </div>
      <!-- SOCIAL ICONS -->
      <div class="flex items-center justify-center w-full gap-4 mt-5">
        <a href="https://wa.me/18293053240">
          <Icon
            size="48"
            name="mdi:whatsapp"
            class="hover:scale-95 hover:text-yellow-500 transition-all duration-300 ease-in-out"
          />
        </a>
        <a href="https://www.instagram.com/comprecomunicaciones/">
          <Icon
            size="48"
            name="gg:instagram"
            class="hover:scale-95 hover:text-yellow-500 transition-all duration-300 ease-in-out"
          />
        </a>
      </div>
    </div>
    <!-- CREDITS -->
    <p class="p1 md:mt-20 mt-10">
      &copy; {new Date().getFullYear()} Compres Comunicaciones
    </p>
    <p class="text-sm">
      <a
        href="https://https://moonlandingrd.vercel.app/"
        class="hover:underline"
      >
        Desarollado por Moon Landing</a
      >
    </p>
  </section>
</footer>

<style is:raw>
  li {
    @apply hover:underline cursor-pointer;
  }
</style>
