---

---

<footer class="mx-auto">
  <section class="flex flex-col items-center justify-center py-12">
    <div class="flex justify-between items-start w-full">
      <h1 class="h2">Logo</h1>

      <div>
        <h3 class="h3">Menu</h3>
        <ul>
          <li>Home</li>
          <li>Home</li>
          <li>Home</li>
        </ul>
      </div>

      <div>
        <h3 class="h3">Menu</h3>
        <ul>
          <li>Home</li>
          <li>Home</li>
          <li>Home</li>
        </ul>
      </div>
    </div>
    <p class="p1 mt-20">&copy; Todos los derechos reservados</p>
  </section>
</footer>
