---
import { loadQuery } from "@/utils/loadQuery";
import { urlFor } from "@/utils/imageUrl";

import "swiper/css";
import "swiper/css/pagination";

import crediGoBanner from "@/assets/heroBanners/credigo-banner.png";
import microchipBanner from "@/assets/heroBanners/microchip-banner.webp";
import s24Banner from "@/assets/heroBanners/s24-banner.jpg";
import iphone16Banner from "@/assets/heroBanners/iphone16-banner.jpg";

interface HeroBanner {
  name?: string;
  imgSrc?: string;
}

const { data: images } = await loadQuery<Array<HeroBanner>>({
  query: `*[_type == "heroBanners"]
  {
    name,
    "imgSrc": banner.asset -> url
  }`,
});
// Transform images after fetching
const transformedImages = images.map((image) => ({
  ...image,
  imgSrc: image.imgSrc
    ? urlFor(image.imgSrc)
        .width(4400) // Resize to 1200px width
        .height(2000) // Resize to 800px height
        .format("webp") // Convert to WebP format
        .quality(90) // Set image quality to 90%
        .url() // Generate the URL
    : undefined,
}));

console.log(transformedImages);
---

<Fragment class="w-full flex items-center justify-center">
  <!-- Slider main   -->
  <div
    class="swiper w-auto h-[300px] md:h-[500px] lg:h-[700px] flex items-center justify-center border border-slate-300"
  >
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper cursor-pointer mx-auto">
      <!-- Slides -->

      {
        transformedImages.map(({ name, imgSrc }) => (
          <div class="swiper-slide">
            <img src={imgSrc} alt={name} class="" />
          </div>
        ))
      }

      <!-- If we need pagination -->
      <!-- <div class="swiper-pagination z-10"></div> -->
    </div>
  </div>
</Fragment>

<style>
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<script>
  import Swiper from "swiper";
  import { Pagination, Autoplay } from "swiper/modules";

  const swiper = new Swiper(".swiper", {
    speed: 400,
    direction: "horizontal",
    loop: true,
    slidesPerView: 1,
    spaceBetween: 10,
    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    autoplay: {
      delay: 2000, // Delay between slides (in milliseconds)
      disableOnInteraction: false, // Continue autoplay even after user interaction
    },
    modules: [Pagination, Autoplay],
  });
</script>
