---
import { loadQuery } from "@/utils/loadQuery";
import type { Phone } from "@/utils/sanity";

import ProductCard from "@/components/product/ProductCard.astro";
// import { getPhones } from "@/utils/sanity";

// const phones = await getPhones();

// const { name, brand, brandIcon, slug, imgSrc, price, storage } = phones[0];
// console.log("🚀 ~ brandIcon:", brandIcon);

const { data: phones } = await loadQuery<
  Array<{
    brand: string;
    name: string;
    slug: string;
    imgSrc: string;
    price: number;
    storage: string;
  }>
>({
  query: `*[_type == "phone" ]
    {
    "brand": brand -> name,
      name,
      "slug": slug.current,
      "imgSrc": image.asset -> url,
      price,
    storage
    }`,
});

const { brand, name, slug, imgSrc, price, storage } = phones[0];
---

<section class="w-full py-10">
  <div class="mx-auto">
    <h2 class="h2 mb-10">Equipos Moviles</h2>

    <div class="md:grid-cols-2 lg:grid-cols-3 grid grid-cols-1">
      {
        phones.map((phone) => (
          <ProductCard
            slug={phone.slug}
            imgSrc={phone.imgSrc}
            name={phone.name}
            price={phone.price}
          />
        ))
      }
    </div>
  </div>
</section>
