---
import { loadQuery } from "@/utils/loadQuery";
import type { Phone } from "@/utils/sanity";

import ProductCard from "@/components/product/ProductCard.astro";

const { data: phones } = await loadQuery<
  Array<{
    brand: string;
    name: string;
    slug: string;
    imgSrc: string;
    price: number;
    storage: [];
  }>
>({
  query: `*[_type == "phone" ]
    {
    "brand": brand -> name,
      name,
      "slug": slug.current,
      "imgSrc": image.asset -> url,
      price,
    storage
    }`,
});
---

<section class="w-full py-10">
  <div class="container flex flex-col items-center justify-center">
    <h2 class="h2 mb-10">Equipos Moviles</h2>

    <div class="md:grid-cols-2 lg:grid-cols-3 grid grid-cols-1 gap-4">
      {phones.map((phone) => <ProductCard {...phone} />)}
    </div>
  </div>
</section>
