---
import { loadQuery } from "@/utils/loadQuery";
import type { Phone } from "@/utils/sanity";

import ProductCard from "@/components/product/ProductCard.astro";
import Layout from "@/layouts/Layout.astro";

const slug = Astro.params.slug ?? "";

const { data: phones } = await loadQuery<
  Array<{
    brand: string;
    name: string;
    slug: string;
    imgSrc: string;
    price: number;
    color: [];
    storage: [];
  }>
>({
  query: `*[_type == "phone" && brand -> name == $slug]
    {
      "brand": brand -> name,
      name,
      "slug": slug.current,
      "imgSrc": image.asset -> url,
      price,
      color,
    storage
    }`,
  params: { slug }, // Pasar slug como parámetro
});
---

<Layout title={`Productos ${slug} | Compres Comunicaciones`}>
  <section class="container w-full py-10 mx-auto">
    <h1 class="h1 w-full mb-[40px]">Equipos {slug}</h1>
    <div class="flex gap-4">
      {phones.map((phone) => <ProductCard {...phone} />)}
    </div>
  </section>
</Layout>
